/* ckeditor */
.ck-editor__editable {
  min-height: 250px;
}

/* z-index */
.z-index-1024 {
  z-index: 1024;
}

/* width */
.width-100 {
  width: 100%;
}

/* font-size */
.font-size-60px {
  font-size: 60px;
}

/* overlay request */
.overlay-request {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  z-index: 99999;
  opacity: 0;
  cursor: progress;
}

/* custom css */
.page-link:hover {
  z-index: 2;
  color: #465fff;
  text-decoration: none;
  background-color: #ebeef2;
  border-color: #e5e9f2;
  cursor: default;
}

.page-link.active {
  z-index: 2;
  color: #465fff;
  text-decoration: none;
  background-color: #ebeef2;
  border-color: #e5e9f2;
}

.select-active {
  border-radius: 4px 4px 0 0 !important;
  border-color: #b4bdd3;
}

.select-option:hover {
  background-color: #ebeef2;
}

.invalid {
  color: #e85347;
  font-size: 11px;
  font-style: italic;
}

.remove-icon-hex {
  cursor: pointer;
}

.form-invalid {
  border: 1px solid #ff0000 !important;
}
